{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="all-categories-container" style="margin-left: 5rem; margin-right: 5rem">

    <div class="all-groups-title">
        <h2>ALL CATEGORIES</h2>
        <span id="category-count">{{ categories.count }} categories available</span>
    </div>

    <div class="split-line"></div>

    <div class="category-section" >
        {% for category in categories %}
            <div class="category-card" data-color="{{ category.color|default:'white' }}">
                <a href="#"><div class="category-color-square"><span style="color: black;">{{ category.flashcard_count }} items</span></div></a>
                <div class="category-card-text-section">
                    <a href="#"><span id="category-card-title">{{ category.title }}</span></a>
                    <span id="category-card-date">created {{ category.created_at|timesince:now }} ago</span>
                    <span style="color: green;">Learned: {{ category.learned_flashcard_count }}/{{ category.flashcard_count }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- Include the JavaScript file -->
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
