{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="all-flashcards-container" style="margin-left: 5rem; margin-right: 5rem">

    <div class="all-groups-title">
        <h2>ALL FLASHCARDS</h2>
        <span id="flashcards-count" style="color: yellow;">{{ flashcards.count }} flashcards available</span>
    </div>
    <div class="split-line"></div>

    <div class="flashcard-section">
        {% for flashcard in flashcards %}
            <div class="flashcard">

                <button class="pin-btn" data-pinned="{{ flashcard.is_pinned }}">
                    <!-- Initially pinned or unpinned icon based on flashcard data -->
                    <svg class="pinned-icon" xmlns="http://www.w3.org/2000/svg" width="29" height="29" fill="none" viewBox="0 0 29 29">
                        {% if flashcard.is_pinned %}
                        <path fill="red" d="M20.212 6.234a1.556 1.556 0 0 1-.363 1.713l-1.282 1.282-.02 6.76 1.325 1.325a1.558 1.558 0 0 1-1.1 2.658l-3.894-.001.001 7.269a.736.736 0 1 1-1.474 0l-.002-7.27-3.868-.026a1.557 1.557 0 0 1-1.086-2.633l1.319-1.318-.038-6.745-1.314-1.314a1.55 1.55 0 0 1 1.095-2.653l9.253.002a1.55 1.55 0 0 1 1.448.95Z"/>
                        {% else %}
                        <path fill="#797979" d="M22.05 20.212a1.556 1.556 0 0 1-1.713-.363l-1.282-1.282-6.76-.02-1.324 1.325a1.56 1.56 0 0 1-2.541-.504 1.534 1.534 0 0 1-.117-.596v-3.894l-7.269.001a.736.736 0 1 1 0-1.474l7.27-.002.026-3.868a1.557 1.557 0 0 1 2.633-1.086l1.318 1.319 6.745-.038 1.314-1.314a1.55 1.55 0 0 1 2.653 1.095l-.002 9.253a1.55 1.55 0 0 1-.95 1.448Z"/>
                        {% endif %}
                    </svg>
                </button>

                <div class="front">
                    <span id="flashcard-front-title">{{ flashcard.front_title }}</span>
                </div>

                <div class="back">
                    <span id="flashcard-back-title" style="text-align: center;">{{ flashcard.back_title }}</span>
                    <div style="width: 90%; height: 0; background-color: black; border: 0.5px solid black;"></div>
                    <p id="flashcard-back-description">{{ flashcard.back_description }}</p>
                </div>  
                
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
