@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.helptext { display: none; }


body {
  background-color: #002244;
  color: white;

  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;

  padding-bottom: 10%;
}

a {
  text-decoration: none;
  color: white;
}


.split-line {
  width: 90%;
  border: 0.5px solid white;
  box-shadow: #AEAEAE;
  height: 0;
}

.home-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12vh;
  padding: 12vh 3vw;

  
  font-size: 2rem;
  text-align: center;
  
}



.welcome-text {
  line-height: 6vh;
  font-weight: bolder;

}

.buttons-sect {
  display: flex;
  flex-direction: column;

  gap: 5vw;
}

.buttons-sect button {
  height: 5.5vh;
  border-radius: 20px;
  color: #002244;
  font-size: 1.2rem;
  font-weight:bolder;
}

.buttons-sect button:hover {
  background-color: #aeaeae;
  transform: translateY(1vh);
}


.homepage-illustration {
  margin-top: 10%;
}



/* AUTHENTICATED HOMEPAGE STYLING */
.homepage-cards-conatiner {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.home-container svg {
  width: 3rem;
  height: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5vh;
  font-size: 1rem;
}

.login-container, .signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.login-container form input {
  border-radius: 20px;
}

.all-categories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7vh;
}


.all-groups-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

#category-count {
  color: yellow;
}



.category-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4-column-grid */
  justify-content: center;
  align-items: center;
  gap: 7vw;
  margin-top: 3rem;
}


.category-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2vh; 
}


.category-color-square {
  width: 8rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.8rem; 
  padding: 5%;
  background: none; 
  outline: none; 
  border: none; 
}

#category-card-title {
  font-size: 1rem;
  font-weight: 700;
}

.category-card-text-section {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

#category-card-date {
  font-size: 0.8rem;
  color: #AEAEAE;
}

#category-card-count {
  color: black;

}


/* Small devices (up to 600px) */
@media (max-width: 600px) {
  .category-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15vw;
  }
}

/* Medium devices (601px to 768px) */
@media (min-width: 601px) and (max-width: 768px) {
  .category-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15vw;
  }
}

/* Large devices (769px and above) */
@media (min-width: 769px) {
  
}
