@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #002244;
  color: white;

  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  text-decoration: none;
  color: white;
}

.home-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12vh;
  padding: 12vh 3vw;

  
  font-size: 2rem;
  text-align: center;
  
}



.welcome-text {
  line-height: 6vh;
  font-weight: bolder;

}

.buttons-sect {
  display: flex;
  flex-direction: column;

  gap: 5vw;
}

.buttons-sect button {
  height: 5.5vh;
  border-radius: 20px;
  color: #002244;
  font-size: 1.2rem;
  font-weight:bolder;
}

.buttons-sect button:hover {
  background-color: #aeaeae;
  transform: translateY(1vh);
}


.homepage-illustration {
  margin-top: 10%;
}



/* AUTHENTICATED HOMEPAGE STYLING */
.homepage-cards-conatiner {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.home-container svg {
  width: 3rem;
  height: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5vh;
  font-size: 1rem;
}


.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.login-container form input {
  border-radius: 20px;
}


/* Small devices (up to 600px) */
@media (max-width: 600px) {
  /* CSS rules for small devices */
  .example-class {
    font-size: 14px;
    padding: 10px;
  }
}

/* Medium devices (601px to 768px) */
@media (min-width: 601px) and (max-width: 768px) {
  /* CSS rules for medium devices */
  .example-class {
    font-size: 16px;
    padding: 15px;
  }
}

/* Large devices (769px and above) */
@media (min-width: 769px) {
  /* CSS rules for large devices */
  .example-class {
    font-size: 18px;
    padding: 20px;
  }
}
