@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.helptext { display: none; }


body {
  background-color: #002244;
  color: white;

  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;

  padding-bottom: 10%;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background: none;
  fill: none;
  border: none;
}

.circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline-block;
}

.blue {
  background-color: #00BFFF;
}

.red {
  background-color: #FF0800;
}

.green {
  background-color: #66FF00;
}

.yellow {
  background-color: #FFD700;
}
.orange {
  background-color: #FF5F1F;
}
.purple {
  background-color: #BF40BF;
}


.split-line {
  width: 100%;
  border: 0.5px solid white;
  box-shadow: #AEAEAE;
  height: 0;
}

.home-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12vh;
  padding: 12vh 3vw;

  
  font-size: 2rem;
  text-align: center;
  
}



.welcome-text {
  line-height: 6vh;
  font-weight: bolder;

}

.buttons-sect {
  display: flex;
  flex-direction: column;

  gap: 5vw;
}

.buttons-sect button {
  height: 5.5vh;
  border-radius: 20px;
  color: #002244;
  font-size: 1.2rem;
  font-weight:bolder;
}

.buttons-sect button:hover {
  background-color: #aeaeae;
  transform: translateY(1vh);
}


.homepage-illustration {
  margin-top: 10%;
}



/* AUTHENTICATED HOMEPAGE STYLING */
.homepage-cards-conatiner {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.home-container svg {
  width: 3rem;
  height: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5vh;
  font-size: 1rem;
}

.login-container, .signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.login-container form input {
  border-radius: 20px;
}

.all-categories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7vh;
}

.all-flashcards-container {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}


.all-groups-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

#category-count {
  color: yellow;
}



.category-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4-column-grid */
  justify-content: center;
  align-items: center;
  gap: 7vw;

}

.flashcard-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4-column-grid */
  justify-content: center;
  align-items: center;
  gap: 7vw;

}


.category-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2vh; 
}

.flashcard {
  width: 10rem;
  height: 8rem;
  border-radius: 0.8rem; 

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 220px;

  padding: 10%;
  background-color: beige;
  color: black;
  perspective: 1000px; /* Adds 3D perspective */
  transform-style: preserve-3d;
  transition: transform 0.5s; /* Smooth transition */
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hides the back face when flipped */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15%;
}


.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}

.flashcard.flipped .front {
  transform: rotateY(180deg);  /* Rotate front face */
}

.flashcard.flipped .back {
  transform: rotateY(0deg); /* Rotate back face */
}



/* Ensure your titles and content are styled appropriately */
#flashcard-front-title {
  font-size: 1.5rem;
}



#flashcard-front-title {
  font-size: 1.5rem;
}


.category-color-square {
  width: 8rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem; 
  padding: 5%;
  background: none; 
  outline: none; 
  border: none; 
}

#category-card-title {
  font-size: 1rem;
  font-weight: 700;
}

.category-card-text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

#category-card-date {
  font-size: 0.8rem;
  color: #AEAEAE;
}

#category-card-count {
  color: black;

}

.is_pinned { 
  z-index: 1; 
  position: absolute; 
  top: 0.5rem; 
  right: 0.5rem; 
} 

.pin-btn { background: none; border: none; cursor: pointer; }


/* Small devices (up to 600px) */
@media (max-width: 600px) {
  .category-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15vw;
  }

  .flashcard-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15vw;
  }
}

/* Medium devices (601px to 768px) */
@media (min-width: 601px) and (max-width: 768px) {
  .category-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15vw;
  }

  .flashcard-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15vw;
  }
}

/* Large devices (769px and above) */
@media (min-width: 769px) {
  
}